header.header
    .header__user
        .header__user__icon
        ul.header__user__menu
            li.header__user__menu__item
                a.header__user__menu__item__logout(href="/logout") Log out
            li.header__user__menu__item
                a.header__user__reset(href="/reset") Alterar senha
    .header__container
        img.header__container__logo(src="/dist/images/logo.png")
        ul.header__container__menu
          li.header__container__menu__item
              a(href="/") Dashboard
          li.header__container__menu__item
              a(href="/users") Usuários
    h2.header__container__subtitle=title