html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./static/stylesheets/index.css")
    script(src="static/javascripts/helpers-min.js" defer type="module")
    script(src="static/javascripts/index-min.js" defer type="module")
    title Zabbix - Service Monit
  body
    include includes/header.pug
    p.msg