doctype html
html
  head
    link(rel="stylesheet", href="static/stylesheets/login.css")
    script(src="static/javascripts/helpers-min.js" defer type="module")
    script(src="static/javascripts/login-min.js" defer type="module")
  body
    img.logo(src="/dist/images/logo.png", alt="", srcset="")
    form(action="/login" method="post")
      div
        label Username ou email:
        input(type="text" name="user")
      div
        label Senha:
        input(type="password" name="password")
      //- a(href="./forgot") Esqueceu a senha? 
      div
        input(type="submit" value="Log In")
    p.err-msg.hidden