html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./static/stylesheets/users.css")
    script(src="static/javascripts/helpers-min.js" defer type="module")
    script(src="static/javascripts/users-min.js" defer type="module")
    title Zabbix - Service Monit
  body
    include includes/header.pug
    .container      
      form.form
        h2.subtitle Inserir usuário
        //- input(placeholder="name" name="name")
        //- input(placeholder="last_name" name="last_name")
        //- input(placeholder="city" name="city")
        //- input(placeholder="countrie" name="country")
        //- input(placeholder="state" name="state")
        input(placeholder="username" name="username")
        //- input(placeholder="name" name="email" type="email")
        input(placeholder="password" name="password" type="password")
        input(placeholder="inserir" name="inserir" type="submit" value="submit")
        p.msg.hidden
        