@import 'variables';
.header {
    $color: rgba(255, 255, 255, 0.8);
    $hover-color: #fff;
    color: $color;
    background: $bg;
    position: relative;
    padding: 0.1px;    
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    &__user { 
        position: relative;
        margin-top: 24px;
        margin-right: $space;
        float: right; 
        &__icon {
            &:hover ~ .header__user__menu {
                display: block;
            }
            $icon-size: 30px;
            width: $icon-size;
            height: $icon-size;
            text-align: center;
            cursor: pointer;
            &::before, &::after {
                content: "";
                display: block;
                margin: 0 auto;
            }
            // head
            &::before {
                margin-bottom: 2px;
                width: 27%;
                height: 27%;
                border-radius: 50%;
                background: $color;
            }
            // body
            &::after {
                height: 20%;
                width: 45%;
                background: $color;
                border-radius: 50% 50% 0 0;
            }
        }
        &__menu {
            list-style-type: none;
            padding-left: 0;
            position: absolute;
            margin-top: 0;
            right: 0;
            transform: translateX(8px);
            background: $color;
            display: none;
            width: 100px;
            padding: 15px;
            &:hover { display: block; }
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0,0,0,.7);
            &__item {
                a {
                    color: rgba(0,0,0,.5);
                    &:hover { color: rgba(0,0,0,.9); }
                }                
                &:first-of-type {
                    margin-bottom: 10px;
                }
            }
        }
    }
    &__container{
        background: rgba(255, 255, 255, 0.05);
        display: flex; 
        margin-top: 70px;
        padding: 16px $space;
        border-top: 1px solid rgba(255,255,255,.1);
        border-bottom: 1px solid rgba(255,255,255,.1);
        &__logo {
            width: 100px;
            height: 50px;
        }
        &__menu {
            padding: 0;
            font-size: 16px;
            list-style-type: none;
            &, &__item {
                display: inline-block;
            }
            &__item {
                transition: all .1s ease-in;
                position: relative;
                margin-left: 60px;
                &:hover {
                    color: $hover-color; 
                    & ul {
                        visibility: initial;
                        transform: translateX(-50%);
                        display: block;
                        border: 5px solid transparent;
                        transition: .2s all ease-in;
                    }
                }
                &__submenu {
                    visibility: hidden;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 20px;
                    background: #fff;
                    color: rgb(82, 82, 93);
                    border-radius: 9px;
                    list-style: none;
                    width: 180px;
                    border: 10px solid transparent;
                    background-clip: content-box, padding-box;
                    &__item {
                        padding: 20px;
                        &:not(:first-of-type) {
                            margin-top: 20px;
                        }
                        &:first-of-type{
                            padding-bottom: 0;
                        }
                        &:last-of-type{
                            margin-top: 0;
                        }
                        & a:hover { 
                            color: #000;
                        }
                    }
                }
            }
            
        }
        &__subtitle{
            margin-bottom: 32px;
            margin-top: 32px;
            margin-left: $space; 
            font-size: 20px;
            text-transform: uppercase;
            font-weight: lighter
        }
    }    
}