@import 'header';
@import 'variables';

body {
    margin: 0;
    font-family: 'Nunito', 'Arial', sans-serif;
    background: #f9f9f9;
}

a {
    color: inherit;
    text-decoration: none;
}

option:not(:checked) {
    color: #000;
}

select.custom {
    color: #fff;
    background: $bg;
    padding: 10px;
    text-transform: capitalize;
    border: 0px;
    outline: 0px;
    appearance:none;
    border-radius: 10px;
}

.grid { display: grid; }
.hidden { display: none; }
.show { display: block; }

.red { color: #872525 !important; }
.yellow { color: #ddda22 !important;}
.green { color: green !important;}
.initial-color { color: rgba(0,0,0,.5) !important;}

.money::before { content: "R$ "}
.money::after { content: ",00"}