body{
  background: no-repeat linear-gradient(46deg,#358892,#35bf84);
  min-height: 100vh;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  width: 250px;
}

form div:not(:last-child) {
  margin-bottom: 16px;
}

form div:last-child {
  margin-top: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
}

.logo {
  margin-bottom: 20px;
  margin-top: -100px;
}

input[type="submit"] {
  padding: 5px 30px;
  cursor: pointer;
}

input {
  padding: 10px;
  border-radius: 15px;
  border-style: none;
  box-sizing: border-box;
  width: 100%;
}

input:not([type="submit"]):focus {
  outline: none;
}

a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}