@import 'includes/style';

.container {
    padding: $padding;
    color: rgba(0,0,0,.6);
}

.subtitle {
    margin-bottom: 36px;
}
.subtitle, input[type="submit"] {
    grid-column: 1 / 3;
}

input[type="submit"] {
    margin: 16px auto 0;
    width: 300px;
}

.form {
    margin-top: 53px;
    padding: 16px 53px;
    box-shadow: $box-shadow;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media(min-width: 973px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
    input {
        margin-bottom: 16px;
        padding: 5px;
    }
}